<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Facturacion.Properties.Settings.BaseDeDatosConnectionString"
            connectionString="Data Source=|DataDirectory|\BaseDeDatos.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Facturacion.Properties.Settings.Base_de_datos_productosConnectionString"
            connectionString="Data Source=|DataDirectory|\Base_de_datos_productos.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>